ErrorDocument 404 /404.php

Options +FollowSymLinks
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^views/(.*)$ view.php?name=$1 [L,QSA]
RewriteRule ^edit/(.*)$ edit.php?name=$1 [L,QSA]
RewriteRule ^view/u-([0-9]+)$ user.php?id=$1 [L,QSA]
RewriteRule dashboard$ dashboard.php
RewriteRule create$ create.php
RewriteRule all$ all-links.php
RewriteRule logout$ keluar.php
RewriteRule login$ login.php
RewriteRule register$ register.php
RewriteRule setting$ setting.php
RewriteRule delete$ delete.php